/* **************************************************************************** */
.sidenav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -10px;
  background-color: #EEE;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 10px;
  min-height: 100vh;
}

.sidenav.open {
  width: 260px;
  box-shadow: rgb(64 64 64 / 35%) -8px 5px 15px;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  width: 30px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}


.icon {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #b2b1b1;
}

.icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carrito {
  display: block;
  max-width: 24px;
}

.products-cart {
  background-color: whitesmoke;
  width: calc(100% - 10px);
  scrollbar-width: thin;
  overflow: hidden auto;
  max-height: 78vh;
}

.products-cart::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.products-cart::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

.products-cart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

.products-cart::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.products-cart::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}

.action {
  width: 250px;
  margin: 20px auto;
  position: absolute;
  bottom: 50px;
}

button {
  color: #ffffff;
  background-color: #2d63c8;
  font-size: 19px;
  border: 1px solid #2d63c8;
  border-radius: 5px;
  padding: 10px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

button:focus {
  color: #ffffff;
  background-color: #46b432;
  border: 1px solid #46b432;
}

.header-products {
  font-size: 14px;
  font-weight: bold;
  width: 250px;
}

.cart-product {
  width: 230px;
  padding: 5px 0px 20px 0px;
  border-bottom: 1px solid gray;
}

.cart-product {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 70% 30%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "prodImg prodName"
    "prodNumbers prodNumbers";
  height: 110px;
}

.prodName {
  grid-area: prodName;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}

.prodNumbers {
  grid-area: prodNumbers;
}

.prodImg {
  grid-area: prodImg;
}

.prodDel {
  float: right;
  padding: 4px 4px 0px 4px;
  border: 1px solid black;
  cursor: pointer;
}

.product-img {
  width: 100%;
  grid-area: product-img;
}

.product-title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prodNumbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 0px;
  place-items: center;
}
